<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEoEs6xSHwE9GT-RtrzgPJ6weMbYDQAx0</string>
	<key>GCM_SENDER_ID</key>
	<string>1045629204112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vebol.employee.unlistapp</string>
	<key>PROJECT_ID</key>
	<string>hrapiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hrapiapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045629204112:ios:1de1b9e410b88f3560ca15</string>
</dict>
</plist>